In [1]:
from sec import stock, lookups, processor
from typing import Iterator
from datetime import date, timedelta
import pandas as pd
from tqdm import tqdm

### 0. Update processed financial data

In [2]:
processor.download_sec_data(force_update=True)

Downloading companyfacts.zip...
Unzipping companyfacts.zip...

In [3]:
def daterange(start_date: str, end_date: str, interval: int = 1) -> Iterator[date]:
    """
    Generate a range of dates between start_date and end_date.
    
    Args:
        start_date (str): Start date in YYYY-MM-DD format.
        end_date (str): End date in YYYY-MM-DD format.
        interval (int, optional): Interval between dates in days. Defaults to 1.
    
    Returns:
        Iterator[date]: Iterator of dates between start_date and end_date.
    """

    start_date = date.fromisoformat(start_date)
    end_date = date.fromisoformat(end_date)
    delta = end_date - start_date
    for i in range(0, delta.days + 1, interval):
        yield start_date + timedelta(days=i)

In [5]:
# get all stocks in the S&P 500 since 2013
sp500 = set()
for date in daterange("2013-01-01", "2024-04-08"):
    sp500.update(lookups.get_sp500_tickers(str(date)))

In [6]:
len(sp500)

750

In [12]:
failed = set()
for ticker in sp500:
    try:
        processor.process_sec_json(ticker)
    except Exception as e:
        failed.add(ticker)

In [13]:
len(failed)

151

### 1. Explore stocks for which we don't have processed financial data

Most likely has to do with an error during translation of the ticker symbol to the company's CIK number, since the downloaded data from the SEC is stored by CIK number. Look for historical ticker to CIK mappings. Feel free to print error messages to the notebook to see what went wrong.

In [15]:
failed = set()
for ticker in sp500:
    try:
        s = stock.Stock(ticker)
    except:
        failed.add(ticker)

In [16]:
len(failed)

150

### 2. Explore stocks for which we don't have UFCF data

UFCF = ebit - tax_expense + d_and_a - capex - change_in_wc

If any one of the above terms cannot be found, UFCF will be NaN for that stock. So, we need to explore the stocks for which we don't have UFCF data and see if we can find the missing terms.

Once missing terms are located, use Google / Yahoo Finance / SEC filings to see what the correct value should be (e.g. search for "AAPL capital expenditures 2019" on Yahoo Finance). Now that we know what the correct value should be, we need to find what XRBL tag that value is under.

To find the XRBL tag, open the .csv file for the stock and search for the value. The XRBL tag will be the column name. Ensure that the date and XRBL tag name make sense. If they do, add the tag to the list of tags in the "get_{term}" function in stock.py.

Start with DATE=None to get latest data. Once the coverage of UFCF has improved to >= 90% coverage of stocks, change to an earlier date (e.g. DATE="2022-03-28") and explore the stocks for which we don't have UFCF data. Continue this process of improving coverage and moving back the date as far as you can -- hopefully until 2013.

In [35]:
DATE = None

In [38]:
# may want to add additional columns for the components of certain metrics
# e.g. if change in working capital is missing for a lot of stocks, consider adding
# a column for current assets and current liabilities for both the current and previous year
data = {}
for ticker in tqdm(sp500 - failed):
    s = stock.Stock(ticker)
    try:
        ufcf = s.get_ufcf(DATE)
    except:
        ufcf = None
    try:
        ebit = s.get_ebit(DATE)
    except:
        ebit = None
    try:
        tax_expense = s.get_tax_expense(DATE)
    except:
        tax_expense = None
    try:
        depreciation = s.get_depreciation(DATE)
    except:
        depreciation = None
    try:
        amortization = s.get_amortization(DATE)
    except:
        amortization = None
    try:
        d_and_a = s.get_depreciation_and_amortization(DATE)
    except:
        d_and_a = None
    try:
        capex = s.get_capex(DATE)
    except:
        capex = None
    try:
        change_in_wc = s.get_change_in_working_capital(DATE)
    except:
        change_in_wc = None
    data[ticker] = {
        "ufcf": ufcf,
        "ebit": ebit,
        "tax_expense": tax_expense,
        "depreciation": depreciation,
        "amortization": amortization,
        "d_and_a": d_and_a,
        "capex": capex,
        "change_in_wc": change_in_wc,
    }

100%|██████████| 568/568 [00:55<00:00, 10.33it/s]

In [39]:
df = pd.DataFrame(data).T

In [40]:
df[df["ufcf"].isna()]

,ufcf,ebit,tax_expense,depreciation,amortization,d_and_a,capex,change_in_wc
UDR,NaN,250814000.0,349000.0,NaN,NaN,14344000.0,NaN,-80567000.0
PX,None,None,None,None,None,None,None,None
BHF,NaN,-24000000.0,-182000000.0,NaN,NaN,NaN,NaN,-297000000.0
APA,NaN,5565000000.0,1652000000.0,NaN,2000000.0,1233000000.0,NaN,-471000000.0
EQR,NaN,1116046000.0,900000.0,882168000.0,5004000.0,887172000.0,NaN,-423949000.0
...,...,...,...,...,...,...,...,...
FITB,NaN,4071000000.0,647000000.0,121000000.0,48000000.0,436000000.0,348000000.0,NaN
SYF,NaN,5483000000.0,946000000.0,NaN,NaN,419000000.0,NaN,4858000000.0
UAA,None,None,None,None,None,None,None,None
NTRS,NaN,2756800000.0,430300000.0,NaN,9300000.0,553600000.0,128600000.0,NaN
FRT,NaN,526408000.0,10170000.0,NaN,NaN,302409000.0,NaN,-351372000.0

In [41]:
df[df["capex"].isna()]

,ufcf,ebit,tax_expense,depreciation,amortization,d_and_a,capex,change_in_wc
UDR,NaN,250814000.0,349000.0,NaN,NaN,14344000.0,NaN,-80567000.0
PX,None,None,None,None,None,None,None,None
BHF,NaN,-24000000.0,-182000000.0,NaN,NaN,NaN,NaN,-297000000.0
APA,NaN,5565000000.0,1652000000.0,NaN,2000000.0,1233000000.0,NaN,-471000000.0
EQR,NaN,1116046000.0,900000.0,882168000.0,5004000.0,887172000.0,NaN,-423949000.0
WRB,NaN,1846163000.0,334727000.0,52000000.0,NaN,55872000.0,NaN,-132779000.0
LOW,None,None,None,None,None,None,None,None
FANG,NaN,6508000000.0,1174000000.0,NaN,NaN,1344000000.0,NaN,-332000000.0
GNW,NaN,633000000.0,239000000.0,NaN,19000000.0,307000000.0,NaN,226000000.0
SNA,NaN,1207200000.0,268700000.0,71500000.0,28700000.0,100200000.0,NaN,326100000.0
BAC,NaN,51072000000.0,3441000000.0,NaN,78000000.0,1978000000.0,NaN,-242212000000.0
LSI,NaN,464863000.0,3900000.0,172700000.0,20200000.0,192902000.0,NaN,-154472000.0
FL,None,None,None,None,None,None,None,None
CPT,NaN,770003000.0,2966000.0,NaN,50300000.0,577020000.0,NaN,-463004000.0
MUR,NaN,1586710000.0,309464000.0,NaN,NaN,776817000.0,NaN,-2093000.0
REG,NaN,629012000.0,-39000.0,NaN,40396000.0,319697000.0,NaN,-78092000.0
MAA,NaN,785975000.0,-6208000.0,NaN,6064000.0,542998000.0,NaN,85741000.0
MAC,NaN,151488000.0,705000.0,NaN,0.0,291612000.0,NaN,NaN
RRC,NaN,1578975000.0,230460000.0,2200000.0,NaN,353420000.0,NaN,-65278000.0
DLR,NaN,589968000.0,31550000.0,NaN,NaN,1577933000.0,NaN,NaN
SLG,NaN,92119000.0,3700000.0,NaN,1855000.0,215306000.0,NaN,817576000.0
VNO,NaN,-45074000.0,21660000.0,NaN,NaN,504502000.0,NaN,-862300000.0
LNC,NaN,-2528000000.0,-584000000.0,NaN,NaN,NaN,NaN,531000000.0
PLD,NaN,813449000.0,135412000.0,NaN,6602000.0,1812777000.0,NaN,681262000.0
JPM,NaN,72263000000.0,8490000000.0,NaN,NaN,7051000000.0,NaN,-182987000000.0
AVB,NaN,1765786000.0,14646000.0,814978000.0,2786000.0,817764000.0,NaN,179262000.0
CB,NaN,7138000000.0,1255000000.0,NaN,285000000.0,285000000.0,NaN,NaN
HCP,None,None,None,None,None,None,None,None
MS,NaN,26207000000.0,2910000000.0,NaN,610000000.0,3998000000.0,NaN,3624000000.0
TRV,NaN,3705000000.0,512000000.0,NaN,13000000.0,826000000.0,NaN,38000000.0
ESS,NaN,595229000.0,0.0,539319000.0,6712000.0,539319000.0,NaN,195673000.0
BXP,NaN,1457723000.0,171637000.0,NaN,NaN,749775000.0,NaN,217308000.0
INVH,NaN,687571000.0,150000.0,638114000.0,1653000.0,639767000.0,NaN,1205082000.0
O,NaN,1379814000.0,45183000.0,NaN,NaN,1670389000.0,NaN,-102792000.0
PFG,NaN,6195300000.0,1207900000.0,NaN,70700000.0,230000000.0,NaN,2488900000.0
PSX,NaN,14883000000.0,3248000000.0,NaN,27000000.0,1629000000.0,NaN,4137000000.0
WELL,NaN,697334000.0,7247000.0,NaN,NaN,1310368000.0,NaN,158411000.0
PRU,NaN,-212000000.0,-370000000.0,NaN,104000000.0,124000000.0,NaN,165182000000.0
WFC,NaN,24343000000.0,2087000000.0,NaN,306000000.0,1200000000.0,NaN,-79809000000.0
KIM,NaN,565464000.0,56654000.0,NaN,NaN,505000000.0,NaN,NaN
VFC,NaN,1632204000.0,306981000.0,NaN,15600000.0,266935000.0,NaN,-1302710000.0
CTRA,NaN,5209000000.0,1104000000.0,NaN,-37000000.0,1635000000.0,NaN,102000000.0
RE,NaN,686000000.0,-9000000.0,NaN,55000000.0,55000000.0,NaN,-44513000.0
GME,None,None,None,None,None,None,None,None
AIV,NaN,-80088000.0,17264000.0,NaN,NaN,158967000.0,NaN,NaN
EXR,NaN,1050402000.0,20925000.0,NaN,13981000.0,288316000.0,NaN,-388258000.0
PSA,NaN,4502593000.0,17127000.0,781931000.0,95200000.0,888146000.0,NaN,8065000.0
NAVI,NaN,2929000000.0,182000000.0,NaN,14000000.0,14000000.0,NaN,2430000000.0
ARE,NaN,764904000.0,149041000.0,NaN,384000.0,1002146000.0,NaN,438044000.0
SYF,NaN,5483000000.0,946000000.0,NaN,NaN,419000000.0,NaN,4858000000.0
UAA,None,None,None,None,None,None,None,None
FRT,NaN,526408000.0,10170000.0,NaN,NaN,302409000.0,NaN,-351372000.0

### 3. Explore stocks for which we don't have debt, cash, and shares outstanding data

Follow the instructions in the section above, but for debt, cash, and shares outstanding.

Start with DATE=None to get latest data. Once the coverage of UFCF has improved to >= 90% coverage of stocks, change to an earlier date (e.g. DATE="2022-03-28") and explore the stocks for which we don't have UFCF data. Continue this process of improving coverage and moving back the date as far as you can -- hopefully until 2013.

In [42]:
DATE = None

In [43]:
data = {}
for ticker in tqdm(sp500 - failed):
    s = stock.Stock(ticker)
    try:
        total_debt = s.get_total_debt(DATE)
    except:
        total_debt = None
    try:
        current_debt = s.get_current_debt(DATE)
    except:
        current_debt = None
    try:
        noncurrent_debt = s.get_noncurrent_debt(DATE)
    except:
        noncurrent_debt = None
    try:
        cash = s.get_cash(DATE)
    except:
        cash = None
    try:
        shares_outstanding = s.get_shares_outstanding(DATE)
    except:
        shares_outstanding = None
    data[ticker] = {
        "total_debt": total_debt,
        "current_debt": current_debt,
        "noncurrent_debt": noncurrent_debt,
        "cash": cash,
        "shares_outstanding": shares_outstanding,
    }

100%|██████████| 568/568 [00:30<00:00, 18.49it/s]

In [44]:
df = pd.DataFrame(data).T

Notice below that not a lot of tickers are missing data. This is because we are using the latest data, which is more likely to be complete. As we move back in time, the coverage of data will decrease. Try to get as much coverage as possible.

In [45]:
df[df["total_debt"].isna()]

     total_debt current_debt noncurrent_debt          cash shares_outstanding
PX         None         None            None          None               None
RJF         NaN          NaN             NaN  6178000000.0        215063590.0
LEN         NaN          NaN             NaN  4815770000.0        289824000.0
AIZ         NaN          NaN             NaN  1536700000.0         52919741.0
WRB         NaN          NaN             NaN  1449346000.0        263446321.0
PCAR        NaN          NaN             NaN  4690900000.0        522513846.0
LOW        None         None            None          None               None
MPWR        NaN          NaN             NaN   273145000.0         47305000.0
TROW        NaN          NaN             NaN  1755600000.0        224398924.0
AMP         NaN          0.0             NaN  8755000000.0        105279357.0
FL         None         None            None          None               None
MAA         NaN          NaN             NaN    38659000.0        116598821.0
NVR         NaN          NaN             NaN  2574518000.0          3249345.0
MNST        NaN          NaN             NaN  1307141000.0        522409358.0
HCP        None         None            None          None               None
BXP         NaN          0.0             NaN   690333000.0        156822702.0
O           NaN          NaN             NaN   171102000.0        660520906.0
PGR         NaN          0.0             NaN   203500000.0        585340036.0
MKTX        NaN          NaN             NaN   430746000.0         37608554.0
STT         NaN          0.0             NaN  3970000000.0        344478611.0
RE          NaN          NaN             NaN  1398000000.0         39157235.0
GME        None         None            None          None               None
VRSN        NaN          NaN             NaN   373600000.0        104879307.0
ACGL        NaN          NaN             NaN   855118000.0        371196508.0
UAA        None         None            None          None               None
NTRS        NaN          NaN             NaN  4654200000.0        208196935.0

In [46]:
df[df["cash"].isna()]

    total_debt current_debt noncurrent_debt  cash shares_outstanding
PX        None         None            None  None               None
LOW       None         None            None  None               None
FL        None         None            None  None               None
HCP       None         None            None  None               None
GME       None         None            None  None               None
UAA       None         None            None  None               None

In [47]:
df[df["shares_outstanding"].isna()]

,total_debt,current_debt,noncurrent_debt,cash,shares_outstanding
PX,None,None,None,None,None
LOW,None,None,None,None,None
FOXA,7206000000.0,0.0,7206000000.0,5200000000.0,NaN
TSN,8321000000.0,459000000.0,350000000.0,1031000000.0,NaN
FL,None,None,None,None,None
FOX,7206000000.0,0.0,7206000000.0,5200000000.0,NaN
HCP,None,None,None,None,None
V,22450000000.0,2250000000.0,20200000000.0,15689000000.0,NaN
ADT,9937368000.0,871917000.0,8956671000.0,257223000.0,NaN
STZ,10093500000.0,605300000.0,9488200000.0,199400000.0,NaN
GME,None,None,None,None,None
UAA,None,None,None,None,None